/* This fluid grid is based on a 980px fluid grid.
 * It's a 6 column grid which provides enough division for major elements.
 *
 * The inspiration for this comes mainly from these two articles:
 *   http://www.alistapart.com/articles/fluidgrids/
 *   http://www.alistapart.com/articles/responsive-web-design/
 *
 * To find a percentage, divide the target pixel by 980 then multiply by 100. For example:
 * (5.0 / 980.0) * 100 = 0.5102040816326531
 *
 * Percentages are for layout elements. Use em's for font size. The formula for that is
 * target pixel / 18.0
 * 
 * For example:
 * (10.0 / 18) = 0.5555555555555556em
 *
 * The base pixel sizes are thus:
 * layout = 980
 * font   = 18
 */

.row
  clear: both
  width: 100%

.page
  padding: 0
  margin-left: 0.516323%
  margin-right: 0.516323%
  max-width: 98.967354%

.column
  position: relative
  float: left
  margin: 0
  width: 98.967354%
  padding-left: 0.516323%
  padding-right: 0.516323%

  img
    width: 100%
