/* This fluid grid is based on a 980px fluid grid.
 * It's a 6 column grid which provides enough division for major elements.
 *
 * The inspiration for this comes mainly from these two articles:
 *   http://www.alistapart.com/articles/fluidgrids/
 *   http://www.alistapart.com/articles/responsive-web-design/
 */

.row
  clear: both
  width: 100%

.page
  padding: 0
  margin-left: 0.516323%
  margin-right: 0.516323%
  max-width: 98.967354%

.column
  position: relative
  float: left
  margin: 0
  width: 98.967354%
  padding-left: 0.516323%
  padding-right: 0.516323%
  background-color: #eee
  &.one
    background-color: #222
    color: white
  &.two
    background-color: #444
  &.three
    background-color: #666
  &.four
    background-color: #888
  &.five
    background-color: #aaa
  &.six
    background-color: #ccc

@media screen and (min-width: 480px)
  .column
    &.one
      width: 48.967354%
    &.two
      width: 98.967354%

@media screen and (min-width: 768px)
  .column
    &.one
      width: 24.7418385%
    &.two
      width: 48.967354%
    &.three
      width: 73.7091925%

@media screen and (min-width: 1024px)
  .column
    &.one
      width: 15.431271%
    &.two
      width: 32.472795%
    &.three
      width: 48.967354%
    &.four
      width: 65.461913%
    &.five
      width: 82.472795%
    &.six
      width: 98.967354%
