body#manage-layout
  display: -webkit-flex
  display: -moz-flex
  display: flex
  -webkit-flex-wrap: wrap
  -moz-flex-wrap: wrap
  flex-wrap: wrap
  
  #header
    display: block

    width: 100%
    margin: 0
    padding: 5px

    ul
      display: -webkit-flex
      display: -moz-flex
      display: flex

      width: 100%
      padding: 0
      margin: 0

      li
        list-style: none
        margin-left: 5px
        &:nth-child(1)
          margin-left: 0
        &:nth-last-child(1)
          margin-right: 0
      
      &#top-menu
        li:nth-last-child(1)
          margin-right: 0
          margin-left: auto
      &#bottom-menu
        li:nth-child(1)
          margin-left: 160px
  
  #main
    display: -webkit-flex
    display: -moz-flex
    display: flex

    width: 100%
    margin: 0
    padding: 0

    #left-sidebar, #content, #right-sidebar
      padding: 5px

    #left-sidebar, #right-sidebar
      -webkit-flex: 150px
      -moz-flex: 150px
      flex: 150px

    #left-sidebar
      -webkit-order: 1
      -moz-order: 1
      order: 1

    #content
      -webkit-flex: 1
      -moz-flex: 1
      flex: 1
      -webkit-order: 2
      -moz-order: 2
      order: 2

    #right-sidebar
      -webkit-order: 3
      -moz-order: 3
      order: 3

