<h1>Forgot Password</h1>

<p>We've recently received a request to have your password reset. You know your login.</p>
  
<p>Please visit http://wexfordjewelers.com/users/login</p>
  
<p>
  Your login is <strong><%= @user.login %></strong><br />
  Your new password is <strong><%= @password %></strong>
</p>
  
<p>Once you've logged in you can change your password in your dashboard at http://wexfordjewelers.com/dashboard</p>
