%h1
  %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
  Authorize

= form_tag [:manage, :session] do
  .input-control.text
    %input(id='employee-id' type='text' name='user[pin]' placeholder='Employeed Id')
  = submit_tag 'Enter'
