/* line 2, ../../../app/stylesheets/collections.sass */
/* line 2, ../../app/stylesheets/collections.scss */
.collections .collection {
  position: relative;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  float: left;
  height: 80px;
  width: 60px;
  margin-top: 2px;
  margin-bottom: 7px;
  background-image: url(/images/ui.collection-bar.png);
  cursor: pointer;
}

/* line 14, ../../../app/stylesheets/collections.sass */
/* line 16, ../../app/stylesheets/collections.scss */
.collections .collection.position_0 {
  background-position: 0px -80px;
}

/* line 16, ../../../app/stylesheets/collections.sass */
/* line 20, ../../app/stylesheets/collections.scss */
.collections .collection.position_0:hover {
  background-position: 0px -160px;
}

/* line 18, ../../../app/stylesheets/collections.sass */
/* line 24, ../../app/stylesheets/collections.scss */
.collections .collection.position_0.selected {
  background-position: 0px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 30, ../../app/stylesheets/collections.scss */
.collections .collection.position_1 {
  background-position: -60px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 34, ../../app/stylesheets/collections.scss */
.collections .collection.position_1:hover {
  background-position: -60px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 38, ../../app/stylesheets/collections.scss */
.collections .collection.position_1.selected {
  background-position: -60px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 44, ../../app/stylesheets/collections.scss */
.collections .collection.position_2 {
  background-position: -120px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 48, ../../app/stylesheets/collections.scss */
.collections .collection.position_2:hover {
  background-position: -120px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 52, ../../app/stylesheets/collections.scss */
.collections .collection.position_2.selected {
  background-position: -120px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 58, ../../app/stylesheets/collections.scss */
.collections .collection.position_3 {
  background-position: -180px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 62, ../../app/stylesheets/collections.scss */
.collections .collection.position_3:hover {
  background-position: -180px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 66, ../../app/stylesheets/collections.scss */
.collections .collection.position_3.selected {
  background-position: -180px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 72, ../../app/stylesheets/collections.scss */
.collections .collection.position_4 {
  background-position: -240px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 76, ../../app/stylesheets/collections.scss */
.collections .collection.position_4:hover {
  background-position: -240px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 80, ../../app/stylesheets/collections.scss */
.collections .collection.position_4.selected {
  background-position: -240px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 86, ../../app/stylesheets/collections.scss */
.collections .collection.position_5 {
  background-position: -300px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 90, ../../app/stylesheets/collections.scss */
.collections .collection.position_5:hover {
  background-position: -300px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 94, ../../app/stylesheets/collections.scss */
.collections .collection.position_5.selected {
  background-position: -300px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 100, ../../app/stylesheets/collections.scss */
.collections .collection.position_6 {
  background-position: -360px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 104, ../../app/stylesheets/collections.scss */
.collections .collection.position_6:hover {
  background-position: -360px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 108, ../../app/stylesheets/collections.scss */
.collections .collection.position_6.selected {
  background-position: -360px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 114, ../../app/stylesheets/collections.scss */
.collections .collection.position_7 {
  background-position: -420px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 118, ../../app/stylesheets/collections.scss */
.collections .collection.position_7:hover {
  background-position: -420px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 122, ../../app/stylesheets/collections.scss */
.collections .collection.position_7.selected {
  background-position: -420px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 128, ../../app/stylesheets/collections.scss */
.collections .collection.position_8 {
  background-position: -480px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 132, ../../app/stylesheets/collections.scss */
.collections .collection.position_8:hover {
  background-position: -480px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 136, ../../app/stylesheets/collections.scss */
.collections .collection.position_8.selected {
  background-position: -480px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 142, ../../app/stylesheets/collections.scss */
.collections .collection.position_9 {
  background-position: -540px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 146, ../../app/stylesheets/collections.scss */
.collections .collection.position_9:hover {
  background-position: -540px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 150, ../../app/stylesheets/collections.scss */
.collections .collection.position_9.selected {
  background-position: -540px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 156, ../../app/stylesheets/collections.scss */
.collections .collection.position_10 {
  background-position: -600px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 160, ../../app/stylesheets/collections.scss */
.collections .collection.position_10:hover {
  background-position: -600px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 164, ../../app/stylesheets/collections.scss */
.collections .collection.position_10.selected {
  background-position: -600px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 170, ../../app/stylesheets/collections.scss */
.collections .collection.position_11 {
  background-position: -660px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 174, ../../app/stylesheets/collections.scss */
.collections .collection.position_11:hover {
  background-position: -660px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 178, ../../app/stylesheets/collections.scss */
.collections .collection.position_11.selected {
  background-position: -660px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}

/* line 24, ../../../app/stylesheets/collections.sass */
/* line 184, ../../app/stylesheets/collections.scss */
.collections .collection.position_12 {
  background-position: -720px -80px;
}

/* line 26, ../../../app/stylesheets/collections.sass */
/* line 188, ../../app/stylesheets/collections.scss */
.collections .collection.position_12:hover {
  background-position: -720px -160px;
}

/* line 28, ../../../app/stylesheets/collections.sass */
/* line 192, ../../app/stylesheets/collections.scss */
.collections .collection.position_12.selected {
  background-position: -720px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
