/* line 39, ../../../app/stylesheets/effects.sass */
/* line 2, ../../app/stylesheets/items.scss */
.box_me {
  border: 1px solid #e4e4e4;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 46, ../../../app/stylesheets/effects.sass */
/* line 12, ../../app/stylesheets/items.scss */
.box_me .title {
  background-image: url(/images/layout/box_title_background.png);
  background-repeat: repeat-x;
  margin: -10px;
  margin-bottom: 10px;
  height: 18px;
  padding: 5px;
  padding-left: 10px;
  color: #5f5f5f;
  font-family: Lucida Sans;
  font-size: 15px;
}

/* line 57, ../../../app/stylesheets/effects.sass */
/* line 26, ../../app/stylesheets/items.scss */
.hide_me {
  position: absolute;
  visibility: hidden;
  height: 1px;
  top: 0px;
  left: 0px;
}

/* line 4, ../../../app/stylesheets/items.sass */
/* line 35, ../../app/stylesheets/items.scss */
.index .website {
  color: white;
  background-color: #ff8811;
}

/* line 8, ../../../app/stylesheets/items.sass */
/* line 41, ../../app/stylesheets/items.scss */
.item {
  position: relative;
  width: 340px;
  height: 307px;
  margin: 10px;
  float: left;
}

/* line 14, ../../../app/stylesheets/items.sass */
/* line 50, ../../app/stylesheets/items.scss */
.image_uploader {
  border-bottom: 1px dashed #d7d7d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* line 19, ../../../app/stylesheets/items.sass */
/* line 56, ../../app/stylesheets/items.scss */
.image_uploader label {
  position: relative;
  display: inline;
  margin-right: 0.5em;
}

/* line 23, ../../../app/stylesheets/items.sass */
/* line 62, ../../app/stylesheets/items.scss */
.image_uploader input[type="file"] {
  position: relative;
  display: inline;
}

/* line 27, ../../../app/stylesheets/items.sass */
/* line 68, ../../app/stylesheets/items.scss */
.images {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* line 32, ../../../app/stylesheets/items.sass */
/* line 74, ../../app/stylesheets/items.scss */
.images .image {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 10px;
  min-width: 100px;
  min-height: 80px;
}

/* line 40, ../../../app/stylesheets/items.sass */
/* line 83, ../../app/stylesheets/items.scss */
.images .image .item_id {
  position: relative;
  margin-top: -3px;
  width: 35%;
  padding: 5px;
  background-color: #f5f5f5;
  color: #323232;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  webkit-border-bottom-left-radius: 5px;
  webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 49, ../../../app/stylesheets/items.sass */
/* line 98, ../../app/stylesheets/items.scss */
.images .image .actions {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 50%;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  margin-left: -25%;
  background-image: url(/images/ui/dropdown_menu_background.png);
  color: #1986b5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  webkit-border-bottom-left-radius: 5px;
  webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 62, ../../../app/stylesheets/items.sass */
/* line 117, ../../app/stylesheets/items.scss */
.images .image .actions a {
  position: relative;
  text-decoration: none;
  color: #1986b5;
  border-left: 1px solid #7bebe1;
  padding: 5px;
  line-height: 25px;
}

/* line 69, ../../../app/stylesheets/items.sass */
/* line 126, ../../app/stylesheets/items.scss */
.images .image .actions a:first-child {
  border-left: none;
}

/* line 71, ../../../app/stylesheets/items.sass */
/* line 130, ../../app/stylesheets/items.scss */
.images .image .actions .delete {
  position: relative;
  display: inline;
  cursor: pointer;
  padding: 5px;
  line-height: 25px;
  border-left: 1px solid #7bebe1;
}

/* line 78, ../../../app/stylesheets/items.sass */
/* line 139, ../../app/stylesheets/items.scss */
.images .image .actions .delete:hover {
  border-bottom: 5px solid #fdf680;
}

/* line 81, ../../../app/stylesheets/items.sass */
/* line 144, ../../app/stylesheets/items.scss */
.images ~ .field {
  list-style: none none;
  padding-top: 10px;
}

/* line 84, ../../../app/stylesheets/items.sass */
/* line 149, ../../app/stylesheets/items.scss */
.images ~ .field label {
  padding-top: 7px;
  border-top: 1px dashed #d7d7d7;
}

/* line 89, ../../../app/stylesheets/items.sass */
/* line 155, ../../app/stylesheets/items.scss */
.variation .title {
  text-align: center;
  background-color: #f5f5f5;
  color: #505050;
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  cursor: pointer;
}

/* line 98, ../../../app/stylesheets/items.sass */
/* line 166, ../../app/stylesheets/items.scss */
.ajax_upload_form {
  display: none;
}

/* line 101, ../../../app/stylesheets/items.sass */
/* line 171, ../../app/stylesheets/items.scss */
.ajax_upload_frame {
  height: 1px;
  width: 1px;
  border: 0px;
}

/* line 1, ../../../app/stylesheets/partials/_item.sass */
/* line 178, ../../app/stylesheets/items.scss */
#item_view {
  position: relative;
  width: 100%;
  padding: 0px;
}

/* line 5, ../../../app/stylesheets/partials/_item.sass */
/* line 184, ../../app/stylesheets/items.scss */
#item_view .sold {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 720px;
  height: 417px;
  background-color: black;
  color: white;
  opacity: 0.45;
  z-index: 1;
}

/* line 15, ../../../app/stylesheets/partials/_item.sass */
/* line 196, ../../app/stylesheets/items.scss */
#item_view .sold h1 {
  postion: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 138.5px;
  font-size: 140px;
  font-family: Edwardian Script ITC;
  font-weight: normal;
}

/* line 24, ../../../app/stylesheets/partials/_item.sass */
/* line 207, ../../app/stylesheets/items.scss */
#item_view .title {
  position: relative;
  margin: 0px;
  text-align: center;
}

/* line 28, ../../../app/stylesheets/partials/_item.sass */
/* line 213, ../../app/stylesheets/items.scss */
#item_view .images {
  position: relative;
  clear: both;
  width: 100%;
  height: 450px;
}

/* line 33, ../../../app/stylesheets/partials/_item.sass */
/* line 220, ../../app/stylesheets/items.scss */
#item_view .images .meta {
  position: relative;
  width: 100%;
  padding-top: 5px;
  clear: both;
}

/* line 38, ../../../app/stylesheets/partials/_item.sass */
/* line 227, ../../app/stylesheets/items.scss */
#item_view .images .meta .name {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

/* line 42, ../../../app/stylesheets/partials/_item.sass */
/* line 233, ../../app/stylesheets/items.scss */
#item_view .images .meta .designed_by {
  display: inline;
  border-left: 1px solid #141414;
  padding-left: 10px;
  opacity: 0.3;
}

/* line 47, ../../../app/stylesheets/partials/_item.sass */
/* line 240, ../../app/stylesheets/items.scss */
#item_view .images .meta .colors {
  position: absolute;
  right: 0px;
  top: 6px;
}

/* line 51, ../../../app/stylesheets/partials/_item.sass */
/* line 246, ../../app/stylesheets/items.scss */
#item_view .images .meta .colors .color_tags {
  position: relative;
  float: left;
  margin: 4px;
  margin-right: 12px;
  padding-right: 10px;
  opacity: 0.3;
  border-right: 1px solid #141414;
}

/* line 60, ../../../app/stylesheets/partials/_item.sass */
/* line 256, ../../app/stylesheets/items.scss */
#item_view .images .major_image {
  position: relative;
  float: left;
  width: 520px;
  height: 416px;
}

/* line 65, ../../../app/stylesheets/partials/_item.sass */
/* line 263, ../../app/stylesheets/items.scss */
#item_view .images .minor_images {
  position: relative;
  width: 180px;
  height: 416px;
  overflow: hidden;
  margin-left: 5px;
}

/* line 71, ../../../app/stylesheets/partials/_item.sass */
/* line 271, ../../app/stylesheets/items.scss */
#item_view .images .minor_images .image_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 75, ../../../app/stylesheets/partials/_item.sass */
/* line 277, ../../app/stylesheets/items.scss */
#item_view .images .minor_images .image_wrapper .minor_image {
  position: relative;
  width: 180px;
  cursor: pointer;
}

/* line 79, ../../../app/stylesheets/partials/_item.sass */
/* line 283, ../../app/stylesheets/items.scss */
#item_view .variations {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

/* line 84, ../../../app/stylesheets/partials/_item.sass */
/* line 290, ../../app/stylesheets/items.scss */
#item_view .variations .hidden {
  visibility: hidden;
}

/* line 86, ../../../app/stylesheets/partials/_item.sass */
/* line 294, ../../app/stylesheets/items.scss */
#item_view .variations .visible {
  visibility: visible;
}

/* line 88, ../../../app/stylesheets/partials/_item.sass */
/* line 298, ../../app/stylesheets/items.scss */
#item_view .variations .image_wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
}

/* line 93, ../../../app/stylesheets/partials/_item.sass */
/* line 305, ../../app/stylesheets/items.scss */
#item_view .variations .image_wrapper .variation {
  position: relative;
  float: left;
  height: 120px;
  width: 150px;
}

/* line 98, ../../../app/stylesheets/partials/_item.sass */
/* line 312, ../../app/stylesheets/items.scss */
#item_view .variations .image_wrapper .variation img {
  width: 150px;
}

/* line 100, ../../../app/stylesheets/partials/_item.sass */
/* line 316, ../../app/stylesheets/items.scss */
#item_view .details {
  position: relative;
  width: 100%;
  clear: both;
  margin-top: 5px;
  border-top: 1px solid #eaeaea;
}

/* line 106, ../../../app/stylesheets/partials/_item.sass */
/* line 324, ../../app/stylesheets/items.scss */
#item_view .details .meta {
  position: relative;
  width: 200px;
  float: left;
}

/* line 112, ../../../app/stylesheets/partials/_item.sass */
/* line 330, ../../app/stylesheets/items.scss */
#item_view .details .meta .row span.tag:before {
  content: ", ";
}

/* line 114, ../../../app/stylesheets/partials/_item.sass */
/* line 334, ../../app/stylesheets/items.scss */
#item_view .details .meta .row span:first-child {
  font-weight: bold;
}

/* line 116, ../../../app/stylesheets/partials/_item.sass */
/* line 338, ../../app/stylesheets/items.scss */
#item_view .details .input {
  position: relative;
  display: block;
  text-align: center;
  right: 0px;
  text-decoration: none;
  border: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #14b4b4;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 129, ../../../app/stylesheets/partials/_item.sass */
/* line 355, ../../app/stylesheets/items.scss */
#item_view .details .content {
  position: relative;
  width: 500px;
  float: left;
  margin-bottom: 1em;
  padding-left: 10px;
}

/* line 135, ../../../app/stylesheets/partials/_item.sass */
/* line 363, ../../app/stylesheets/items.scss */
#item_view .details .content .items {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

/* line 140, ../../../app/stylesheets/partials/_item.sass */
/* line 370, ../../app/stylesheets/items.scss */
#item_view .details .content .items .image_wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
}

/* line 145, ../../../app/stylesheets/partials/_item.sass */
/* line 377, ../../app/stylesheets/items.scss */
#item_view .details .content .items .image_wrapper .variation {
  position: relative;
  float: left;
  width: 150px;
  height: 120px;
}

/* line 150, ../../../app/stylesheets/partials/_item.sass */
/* line 384, ../../app/stylesheets/items.scss */
#item_view .details .content .items .image_wrapper .variation img {
  width: 150px;
}
