/* line 39, ../../../app/stylesheets/effects.sass */
/* line 2, ../../app/stylesheets/status.scss */
.box_me {
  border: 1px solid #e4e4e4;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 46, ../../../app/stylesheets/effects.sass */
/* line 12, ../../app/stylesheets/status.scss */
.box_me .title {
  background-image: url(/images/layout/box_title_background.png);
  background-repeat: repeat-x;
  margin: -10px;
  margin-bottom: 10px;
  height: 18px;
  padding: 5px;
  padding-left: 10px;
  color: #5f5f5f;
  font-family: Lucida Sans;
  font-size: 15px;
}

/* line 57, ../../../app/stylesheets/effects.sass */
/* line 26, ../../app/stylesheets/status.scss */
.hide_me {
  position: absolute;
  visibility: hidden;
  height: 1px;
  top: 0px;
  left: 0px;
}

/* line 4, ../../../app/stylesheets/statuses.sass */
/* line 35, ../../app/stylesheets/status.scss */
.item_body .statuses {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  opacity: 0.5;
}

/* line 10, ../../../app/stylesheets/statuses.sass */
/* line 43, ../../app/stylesheets/status.scss */
.item_body .statuses div {
  position: relative;
  display: inline;
  margin-left: 3px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 18, ../../../app/stylesheets/statuses.sass */
/* line 55, ../../app/stylesheets/status.scss */
.item_body .statuses div a {
  text-decoration: none;
  color: white;
}

/* line 21, ../../../app/stylesheets/statuses.sass */
/* line 60, ../../app/stylesheets/status.scss */
.item_body .statuses div:first-child {
  margin-left: 6px;
}

/* line 23, ../../../app/stylesheets/statuses.sass */
/* line 64, ../../app/stylesheets/status.scss */
.item_body .statuses .published {
  background-color: #00c800;
  color: white;
}

/* line 26, ../../../app/stylesheets/statuses.sass */
/* line 69, ../../app/stylesheets/status.scss */
.item_body .statuses .one_of_a_kind {
  background-color: #0096ff;
  color: white;
}

/* line 29, ../../../app/stylesheets/statuses.sass */
/* line 74, ../../app/stylesheets/status.scss */
.item_body .statuses .zombie {
  background-color: #c80000;
  color: white;
}

/* line 32, ../../../app/stylesheets/statuses.sass */
/* line 79, ../../app/stylesheets/status.scss */
.item_body .statuses .instore {
  background-color: #00c8c8;
  color: white;
}

/* line 35, ../../../app/stylesheets/statuses.sass */
/* line 84, ../../app/stylesheets/status.scss */
.item_body .statuses .not_available {
  background-color: #c80000;
  color: white;
}

/* line 38, ../../../app/stylesheets/statuses.sass */
/* line 89, ../../app/stylesheets/status.scss */
.item_body .collections {
  position: absolute;
  opacity: 0.7;
  bottom: 3px;
  left: 0px;
  height: 20px;
}

/* line 44, ../../../app/stylesheets/statuses.sass */
/* line 97, ../../app/stylesheets/status.scss */
.item_body .collections a {
  position: relative;
  display: inline;
  margin-left: 3px;
  background-color: white;
  color: black;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 55, ../../../app/stylesheets/statuses.sass */
/* line 112, ../../app/stylesheets/status.scss */
.item_body .collections a:first-child {
  margin-left: 6px;
}
