:ruby
  menu = [
    ["Customer Lookup", force_lookup_admin_order_path(@order)],
    ["Customer Address", address_admin_order_path(@order)],
    ["Order", admin_order_path(@order)],
    ["Print", print_admin_order_path(@order), {:target => "_blank"}],
    ["Ticket", admin_ticket_path(@order.ticket.id)]
  ]
  active_url = active_url ? active_url : menu[0][1]

%ul.progress
  - menu.each do |menu_item|
    - html_options = menu_item[2] != nil ? menu_item[2] : {}
    - if menu_item[1] == active_url
      %li= link_to menu_item[0], menu_item[1], html_options.merge!(:class => "active")
    - else
      %li= link_to menu_item[0], menu_item[1], html_options