.image{id: "image_#{asset.id}"}
  .actions
    = link_to "view", asset.image.url(:original), target: "_blank"
    .delete{:href => admin_item_variation_attachment_path(@item.pretty_id, @variation.pretty_id, asset.id), parent_image_id: "image_#{asset.id}"}
      delete
  = image_tag asset.image.url(:manage)
  .id{style: "visibility: hidden", id: asset.id}
