%a.tile.icon{href: new_manage_sale_path}
  .tile-content
    %h1.icon-large.icon-tag
  .brand
    .name Sale

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-wrench
  .brand
    .name Repairs

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-forrst
  .brand
    .name Custom

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-lightning
  .brand
    .name Quick Sale

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-right-quote
  .brand
    .name Gold Buy

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-glasses-2
  .brand
    .name Appraisals

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-pictures
  .brand
    .name WJ Showcase

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-list
  .brand
    .name Inventory

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-camera
  .brand
    .name Photo Gallery
