%a.tile.image(href='http://www.kitco.com/charts/popup/au24hr3day.html')
  .tile-content
    / to get live content get this url from server: http://charts.kitco.com/KitcoCharts/RequestHandler?requestName=getSymbolSnapshot&Symbol=GOLD
    %img(src="http://www.kitco.com/images/live/t24_au_en_usoz_home.gif?random=#{Time.now.to_i}" alt="24 hr gold chart")

%a.tile.image(href='http://www.kitcosilver.com/charts/24hoursspot.html')
  .tile-content
    %img(src="http://www.kitconet.com/charts/metals/silver/t24_ag_en_usoz_6.gif?random=#{Time.now.to_i}" alt="24 hr silver chart")

.tile.icon
  .tile-content
    %h1.icon-large.icon-calendar
  .brand
    .badge 30
    .name 2:30 pm

%a.tile.icon.bg-color-green{href: new_manage_sale_path}
  .tile-content
    %h1.icon-large.icon-tag
  .brand
    .name Sale

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-wrench
  .brand
    .name Repairs

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-forrst
  .brand
    .name Custom

%a.tile.icon.bg-color-green{href: new_manage_quick_sale_path}
  .tile-content
    %h1.icon-large.icon-lightning
  .brand
    .name Quick Sale

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-right-quote
  .brand
    .name Gold Buy

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-eye
  .brand
    .name Appraisals

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-pictures
  .brand
    .name WJ Showcase

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-list
  .brand
    .name Inventory

%a.tile.icon
  .tile-content
    %h1.icon-large.icon-camera
  .brand
    .name Photo Gallery
