:ruby
  menu = [
    ["Customer", admin_user_path(@user.pretty_id)],
    ["Order", admin_user_order_path(@user.pretty_id, @order.pretty_id)],
    ["Print", print_admin_user_order_path(@user.pretty_id, @order.pretty_id), {:target => "_blank"}],
    ["Ticket", admin_user_order_ticket_path(@user.pretty_id, @order.pretty_id, @order.ticket.id)]
  ]
  active_url = active_url ? active_url : menu[0][1]

%ul.progress
  - menu.each do |menu_item|
    - html_options = menu_item[2] != nil ? menu_item[2] : {}
    - if menu_item[1] == active_url
      %li= link_to menu_item[0], menu_item[1], html_options.merge!(:class => "active")
    - else
      %li= link_to menu_item[0], menu_item[1], html_options
