/* line 39, ../../../app/stylesheets/effects.sass */
.box_me {
  border: 1px solid #e4e4e4;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 46, ../../../app/stylesheets/effects.sass */
.box_me .title {
  background-image: url(/images/layout/box_title_background.png);
  background-repeat: repeat-x;
  margin: -10px;
  margin-bottom: 10px;
  height: 18px;
  padding: 5px;
  padding-left: 10px;
  color: #5f5f5f;
  font-family: Lucida Sans;
  font-size: 15px;
}

/* line 57, ../../../app/stylesheets/effects.sass */
.hide_me {
  position: absolute;
  visibility: hidden;
  height: 1px;
  top: 0px;
  left: 0px;
}

/* line 3, ../../../app/stylesheets/body.sass */
#body {
  position: relative;
  z-index: 1;
  top: 10px;
  margin: 0 auto;
  margin-bottom: 45px;
  width: 940px;
}

/* line 11, ../../../app/stylesheets/body.sass */
.button {
  height: 20px;
}
/* line 14, ../../../app/stylesheets/body.sass */
.button a {
  display: block;
  border: 1px solid #ebebeb;
  text-decoration: none;
  background-image: url(/images/ui/button_background.png);
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  color: #748b9d;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 27, ../../../app/stylesheets/body.sass */
.button a:hover {
  border: 1px solid #ebebeb;
}

/* line 29, ../../../app/stylesheets/body.sass */
#print_logo {
  display: none;
}

/* line 31, ../../../app/stylesheets/body.sass */
#page {
  position: relative;
  float: left;
  width: 720px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
/* line 40, ../../../app/stylesheets/body.sass */
#page #page_header {
  position: relative;
  min-height: 20px;
}
/* line 44, ../../../app/stylesheets/body.sass */
#page #page_header #page_title {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 49, ../../../app/stylesheets/body.sass */
#page #page_header #page_title h1 {
  padding: 0px;
  margin: 0px;
}
/* line 53, ../../../app/stylesheets/body.sass */
#page #page_header #page_actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 58, ../../../app/stylesheets/body.sass */
#page #page_header #page_actions h2 {
  padding: 0px;
  margin: 0px;
}
/* line 62, ../../../app/stylesheets/body.sass */
#page #page_header #page_actions .button {
  position: relative;
  float: left;
  height: 20px;
  margin-left: 10px;
}
/* line 68, ../../../app/stylesheets/body.sass */
#page #page_header #page_actions .button a {
  display: block;
  border: 1px solid #ebebeb;
  text-decoration: none;
  background-image: url(/images/ui/button_background.png);
  height: 20px;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  color: #748b9d;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 81, ../../../app/stylesheets/body.sass */
#page #page_header #page_actions .dangerous a {
  background-image: none;
  background-color: #ffc8c8;
  border: none;
  color: white;
}
/* line 87, ../../../app/stylesheets/body.sass */
#page .section_header {
  position: relative;
  min-height: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px dashed #d7d7d7;
}
/* line 95, ../../../app/stylesheets/body.sass */
#page .section_header .section_title {
  position: absolute;
  bottom: 10px;
  left: 0px;
}
/* line 100, ../../../app/stylesheets/body.sass */
#page .section_header .section_title h1 {
  padding: 0px;
  margin: 0px;
}
/* line 104, ../../../app/stylesheets/body.sass */
#page .section_header .section_actions {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
/* line 109, ../../../app/stylesheets/body.sass */
#page .section_header .section_actions .button {
  height: 20px;
}
/* line 112, ../../../app/stylesheets/body.sass */
#page .section_header .section_actions .button a {
  display: block;
  border: 1px solid #ebebeb;
  text-decoration: none;
  background-image: url(/images/ui/button_background.png);
  height: 20px;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  color: #748b9d;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 124, ../../../app/stylesheets/body.sass */
#sidebar {
  position: relative;
  float: right;
  width: 180px;
}
