/* line 2, ../../../app/stylesheets/colors.sass */
.colors .color {
  position: relative;
  display: block;
  overflow: hidden;
  text-indent: -100px;
  float: left;
  height: 20px;
  width: 10px;
  margin-top: 2px;
  margin-bottom: 7px;
  background-image: url(/images/ui/color-bar.png);
  cursor: pointer;
}
/* line 14, ../../../app/stylesheets/colors.sass */
.colors .color.position_1 {
  background-position: 0px -20px;
}
/* line 16, ../../../app/stylesheets/colors.sass */
.colors .color.position_1:hover {
  background-position: 0px 0px;
}
/* line 18, ../../../app/stylesheets/colors.sass */
.colors .color.position_1.selected {
  background-position: 0px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_2 {
  background-position: -20px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_2:hover {
  background-position: -20px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_2.selected {
  background-position: -20px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_3 {
  background-position: -30px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_3:hover {
  background-position: -30px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_3.selected {
  background-position: -30px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_4 {
  background-position: -40px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_4:hover {
  background-position: -40px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_4.selected {
  background-position: -40px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_5 {
  background-position: -50px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_5:hover {
  background-position: -50px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_5.selected {
  background-position: -50px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_6 {
  background-position: -60px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_6:hover {
  background-position: -60px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_6.selected {
  background-position: -60px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_7 {
  background-position: -70px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_7:hover {
  background-position: -70px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_7.selected {
  background-position: -70px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_8 {
  background-position: -80px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_8:hover {
  background-position: -80px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_8.selected {
  background-position: -80px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_9 {
  background-position: -90px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_9:hover {
  background-position: -90px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_9.selected {
  background-position: -90px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_10 {
  background-position: -100px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_10:hover {
  background-position: -100px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_10.selected {
  background-position: -100px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_11 {
  background-position: -110px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_11:hover {
  background-position: -110px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_11.selected {
  background-position: -110px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_12 {
  background-position: -120px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_12:hover {
  background-position: -120px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_12.selected {
  background-position: -120px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_13 {
  background-position: -130px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_13:hover {
  background-position: -130px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_13.selected {
  background-position: -130px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_14 {
  background-position: -140px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_14:hover {
  background-position: -140px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_14.selected {
  background-position: -140px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_15 {
  background-position: -150px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_15:hover {
  background-position: -150px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_15.selected {
  background-position: -150px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_16 {
  background-position: -160px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_16:hover {
  background-position: -160px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_16.selected {
  background-position: -160px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_17 {
  background-position: -170px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_17:hover {
  background-position: -170px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_17.selected {
  background-position: -170px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_18 {
  background-position: -180px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_18:hover {
  background-position: -180px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_18.selected {
  background-position: -180px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_19 {
  background-position: -190px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_19:hover {
  background-position: -190px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_19.selected {
  background-position: -190px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_20 {
  background-position: -200px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_20:hover {
  background-position: -200px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_20.selected {
  background-position: -200px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_21 {
  background-position: -210px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_21:hover {
  background-position: -210px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_21.selected {
  background-position: -210px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_22 {
  background-position: -220px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_22:hover {
  background-position: -220px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_22.selected {
  background-position: -220px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_23 {
  background-position: -230px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_23:hover {
  background-position: -230px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_23.selected {
  background-position: -230px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_24 {
  background-position: -240px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_24:hover {
  background-position: -240px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_24.selected {
  background-position: -240px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_25 {
  background-position: -250px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_25:hover {
  background-position: -250px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_25.selected {
  background-position: -250px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_26 {
  background-position: -260px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_26:hover {
  background-position: -260px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_26.selected {
  background-position: -260px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_27 {
  background-position: -270px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_27:hover {
  background-position: -270px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_27.selected {
  background-position: -270px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_28 {
  background-position: -280px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_28:hover {
  background-position: -280px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_28.selected {
  background-position: -280px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_29 {
  background-position: -290px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_29:hover {
  background-position: -290px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_29.selected {
  background-position: -290px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_30 {
  background-position: -300px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_30:hover {
  background-position: -300px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_30.selected {
  background-position: -300px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_31 {
  background-position: -310px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_31:hover {
  background-position: -310px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_31.selected {
  background-position: -310px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_32 {
  background-position: -320px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_32:hover {
  background-position: -320px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_32.selected {
  background-position: -320px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_33 {
  background-position: -330px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_33:hover {
  background-position: -330px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_33.selected {
  background-position: -330px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_34 {
  background-position: -340px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_34:hover {
  background-position: -340px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_34.selected {
  background-position: -340px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_35 {
  background-position: -350px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_35:hover {
  background-position: -350px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_35.selected {
  background-position: -350px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_36 {
  background-position: -360px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_36:hover {
  background-position: -360px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_36.selected {
  background-position: -360px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_37 {
  background-position: -370px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_37:hover {
  background-position: -370px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_37.selected {
  background-position: -370px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_38 {
  background-position: -380px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_38:hover {
  background-position: -380px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_38.selected {
  background-position: -380px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_39 {
  background-position: -390px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_39:hover {
  background-position: -390px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_39.selected {
  background-position: -390px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_40 {
  background-position: -400px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_40:hover {
  background-position: -400px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_40.selected {
  background-position: -400px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_41 {
  background-position: -410px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_41:hover {
  background-position: -410px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_41.selected {
  background-position: -410px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_42 {
  background-position: -420px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_42:hover {
  background-position: -420px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_42.selected {
  background-position: -420px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_43 {
  background-position: -430px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_43:hover {
  background-position: -430px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_43.selected {
  background-position: -430px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_44 {
  background-position: -440px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_44:hover {
  background-position: -440px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_44.selected {
  background-position: -440px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
/* line 24, ../../../app/stylesheets/colors.sass */
.colors .color.position_45 {
  background-position: -450px -20px;
}
/* line 26, ../../../app/stylesheets/colors.sass */
.colors .color.position_45:hover {
  background-position: -450px 0px;
}
/* line 28, ../../../app/stylesheets/colors.sass */
.colors .color.position_45.selected {
  background-position: -450px 0px;
  border-bottom: 3px solid #5aff5a;
  margin-bottom: 4px;
}
