%h2 Who we Are

%p Welcome to Wexford Jewelers, where every unique item is handmade in our Northern Michigan foundry! We would love for you to spend a few minutes browsing our growing collection of rings, pendants, earrings, and art. Our blog has a weekly update of stories, tips, education, and information about and from the jewelry industry.

%p Jewelry and art have been a passion in our family for as long as we can remember. We have had a freestanding store in Cadillac, Michigan since May of 1995, and we are excited and proud to have finally entered the world of online service and marketing. Our designs have captured the hearts and imaginations of so many people over the years, we have decided to offer them to the world!

%p Custom design is our specialty. Have a necklace shape that you've been dreaming about? A wedding band pattern that would tell your unique story? A family crest that would make a perfect signet ring? Send us along a drawing and we can quote you a price for gold, sterling, or platinum. Gemstones? No problem. See a ring on our site that inspires you? We can make it with whatever color strikes your fancy, even make it with your existing stones!

%h2 What you See is What you Get

%p You will be happy to know that none of our jewelry photographs are retouched in any way. Many other websites do a color adjustment on gemstones, cut diamonds out and clean up inclusions, and edit out minor flaws in the metal. We feel that complete honesty with our customers is the absolute best policy, and a retouched photograph is not perfectly honest. What you see is truly what you get. If you notice a small glitch on a band or a texture inside a ring, it is because we make every piece by hand. No CAD, no model printing, no machined outline. Our designs start with a conceptual sketch and end with a shining, solid piece of wearable art.

%a{:name => "contact_us"}
%h2 Where we Are

%p
  %strong Phone:
  (231) 775 - 1289
  %br
  %strong Address:
  801 N. Mitchell St, Cadillac, Michigan 49601
  %br
  %strong Hours ( Eastern Standard Time ):
  Mon - Friday: 9:30 am - 5:30 pm, Sat: 10:00 am - 3:00 am
  %br
  %strong Email:
  = link_to "info@wexfordjewelers.com", "mailto:info@wexfordjewelers.com"

:preserve
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=wexford+jewelers&amp;sll=44.246402,-85.461605&amp;sspn=0.007055,0.014248&amp;ie=UTF8&amp;ll=44.275073,-85.396385&amp;spn=0.056421,0.113983&amp;z=13&amp;iwloc=A&amp;cid=44256695,-85404742,17852584522675637887&amp;output=embed&amp;s=AARTsJqWstFH2akVqpSD-foEkDLLdou4ug"></iframe>
  <small><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=wexford+jewelers&amp;sll=44.246402,-85.461605&amp;sspn=0.007055,0.014248&amp;ie=UTF8&amp;ll=44.275073,-85.396385&amp;spn=0.056421,0.113983&amp;z=13&amp;iwloc=A&amp;cid=44256695,-85404742,17852584522675637887&amp;source=embed" style="color:#0000FF;text-align:left" bitly="BITLY_PROCESSED">View Larger Map</a></small>