%article.row
  .column.one .column.one
  .column.five .column.five
  .column.two .column.two
  .column.four .column.four
  .column.three .column.three
  .column.three .column.three
  .column.six .column.six
  .column .column

#inventory
  .big-item
  .small-items
#featured-items
  .small-items
#articles
  .small-articles
