.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Order #{@order.pretty_id}

%table#line-items-view.striped
  %thead
    %tr
      %th Item Id
      %th Description
      %th Price
      %th Amount
      %th Total
      %th &nbsp;
  %tbody#line-items-form
    %tr
      %td(valign='top')
        .input-control.text
          %input#line-item-id(type='text' name='line_item[item_id]' placeholder='ID345...')
          %button.helper
      %td(valign='top')
        .input-control.text-area
          %textarea#line-item-description(name='line_item[description]' placeholder='Something pretty made in your store ...')
      %td(valign='top')
        .input-control.text
          %input#line-item-price(type='text' name='line_item[price]' placeholder='3,500.00')
          %button.helper
      %td(valign='top')
        .input-control.text
          %input#line-item-amount(type='text' name='line_item[quantity]' placeholder='1')
          %button.helper
      %td(valign='top')
        %span#line-item-total
      %td#line-item-actions(valign='top')
