= image_tag "logo.jpg", :class => "logo"
%h2 Wexford Jewelers
%p.tagline
  Our Passion is Design ...
%p.address
  801 N. Mitchell St., Cadillac, MI 49601 <br />
  (231) 775-1289 <br />
  wexfordjewelers.com <br />
  info@wexfordjewelers.com