- content_for :page_title do
  %h1 Editing #{@collection.name}

- content_for :page_actions do
  = button_for_url "cancel", admin_collections_path, :class => "button"

- content_for :page_content do
  - form_for :collection, @collection, :url => admin_collection_path(@collection.id), :html => { :method => :put, :multipart => true } do |collection|
    = render :partial => "admin/collections/form", :locals => {:collection => collection}