.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Order #{@order.pretty_id}

  = render partial: 'manage/orders/line_items', locals: {order: @order}
  .checkout_button_quick_sale
    %button.button.bg-color-green.fg-color-white
      = link_to 'Add a User'
