@import 'mixins'

body
  font-weight: normal
  font-size: 18px
  font-family: Helvetica, Arial, sans-serif

h1
  font-size: 2em

h2, legend
  font-size: 1.5em

.align-right
  text-align: right

input[type='text'], input[type='password'], input[type='email'], input[type='submit'], input[type='url'], input[type='tel'], input[type='search']
  @include rounded(0.833333333em)
  padding:
    left: 1em
    right: 1em

.placeholder
  color: #aaa
