.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Checking Out Quick Sale #{@order.pretty_id}

= render partial: 'manage/orders/line_items', locals: {order: @order}

%button.button
  Link to User
%button.button
  Add Payment
