.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Checking Out Quick Sale #{@order.pretty_id}

= render partial: 'manage/orders/total', locals: {order: @order}

%a.button.bg-color-green.fg-color-white{href: new_manage_order_user_path(@order)}
  Lookup Customer
%a.button.bg-color-green.fg-color-white{href: edit_manage_quick_sale_path(@order)}
  Edit Order
%button.button
  Add Payment
