.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Editing Quick Sale #{@order.pretty_id}

= render partial: 'manage/orders/line_items', locals: {order: @order}

%a.button.bg-color-green.fg-color-white{href: new_manage_order_user_path(@order)}
  Lookup Customer
%a.button
  Save for Later
%a.button
  Layaway
%a.button.bg-color-green.fg-color-white{href: checkout_manage_quick_sale_path(@order)}
  Checkout
%a.button.bg-color-green.fg-color-white{href: cancel_manage_quick_sale_path(@order)}
  Cancel
