%h1 Delivery Statement

%h2 In-Stock items:

%p When all of the items ordered are in stock we immediately package the item(s) and ship through the method chosen by customer at the point of sale.

%h2 Some items are not in stock:

%p We create everything that is for sale on our site. Because of this some items are not readily available. When some of the items are not in stock, the order may take between 2-6 weeks to complete; unless otherwise specified in the item description. The timing is dependent on how complex the item is to recreate, cast, and finish, and how many items we have in queue to be cast and finished.

%p Not all items are not in stock every day, backordered items will be made as soon as possible, customer will agree to backorder before paying.

%p Custom orders will have an agreed upon timeframe for production and delivery between the customer and the artist.

%h2 Shipping Stage:

%p Customers will be able to see the status of their backorders from order point to shipping fulfillment. A customer care email address will be provided with every order.

%p The Package will ship within 8-24 hours of order fulfillment, if an item needs to be specially fitted (ring sizing, for example) the shipping will be delayed by a maximum of 1 week, and the customer will be able to see where in production their work is.